<html>
<body>
<head>
    <link rel="stylesheet" href="/css/allcss.css">
</head>
<h1>Edit Article</h1>

<form action="/<%= article._id %>?_method=PUT" method="POST">
    <div>
    <label for="title">Title</label>
    <input class="class1" required value="<%= article.title %>" type="text" name="title" id="title">
    </div>

    <div>
    <label for="description">Description</label>
    <textarea name="description" id="description"><%= article.description %></textarea>
    </div>

    <div>
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown"><%= article.markdown %></textarea>
    </div>
    <div class="time">
            <%= article.createdAt.toLocaleDateString() %>
    </div>
    <div class="signature">
    落款
    </div>
    <div class="box">
    <input class="class2" required value="<%= article.author %>" type="text" name="author" id="author">
    </div>
    <a href="/all">Cancel</a>
    <button type="submit">保存</button>
</form>

</body>
</html>